{% extends '@HitcKitAdmin/base.html.twig' %}
{% trans_default_domain "HitcKitAuthBundle" %}

{% block title %}{{ 'auth'|trans }} - {{ parent() }}{% endblock %}

{% set body_class = 'hold-transition login-page' %}

{% block body %}
    <div class="login-box mt-n5">
        <div class="login-logo"><b>{{ block('title', '@HitcKitAdmin/base.html.twig') }}</b></div>
        <div class="card">
            <div class="card-body login-card-body">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData) }}
                    </div>
                {% endif %}

                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <p class="login-box-msg">{{ 'auth'|trans }}</p>

                <form method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" id="email" name="email" value="{{ last_username }}" required="required" placeholder="{{ 'email'|trans }}">
                        <div class="input-group-append">
                            <label class="input-group-text" for="email">
                                <span class="fas fa-envelope"></span>
                            </label>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="password" name="password" required="required" placeholder="{{ 'password'|trans }}">
                        <div class="input-group-append">
                            <label class="input-group-text" for="password">
                                <span class="fas fa-lock"></span>
                            </label>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary btn-block">{{ 'enter'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
